@font-face{
	font-family:SFUIDisplay;
	src:url('../fonts/SFUIDisplay-Regular.eot');
	src:local(※), url('../fonts/SFUIDisplay-Regular.woff') format('woff')
}
@font-face{
	font-family:Nexa;
	src:url('../fonts/Nexa-Bold.eot');
	src:local(※), url('../fonts/Nexa-Bold.woff') format('woff')
}
@font-face{
	font-family:SFProDisplay;
	src:url('../fonts/SFProDisplay-Regular.eot');
	src:local(※), url('../fonts/SFProDisplay-Regular.woff') format('woff')
}

#main-container{
	background-color: #ffffff;
}

.logo_position{
	margin: 40px 0px;
}

@media screen and (max-width: 768px){
	.logo_position{
		margin: 18px 0px;
	}
}

@media screen and (max-width: 768px) {
	.logo_size{
		width: 150px;
		height: auto;
		margin-top: 20px;
	}
}


@media screen and (max-width: 960px){
	.header_bg{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.7);
		z-index: 1;
	}
}
@media screen and (max-width: 768px){
	.li_list{
		margin: 6% 0 0 1%;
		
	}
}
.arrow_menu{
	display: none;
}

@media screen and (max-width: 767px){
	.arrow_menu{
		display:block;
		text-align: center;
		background: #edeff2;
	}
}

.arrow_up{
	display: none;
	border: solid #757575;
	border-width: 0 2px 2px 0;
	padding: 3px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

@media screen and (max-width: 768px){
	.arrow_up {
		display: inline-block;
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
}

.arrow_up_position{
	margin-top: 20px; margin-bottom: 10px;
}


.home_bg{
	position: relative; 
	background: linear-gradient(to right, #6b9fa7, #558e99 25%, #457885 52%, #1d4555 91%, #194354);
	height: 586px;
}
@media screen and (max-width: 767px){
	.home_bg{
		height: 330px;
	}
}
@media screen and (max-width: 375px){
	.home_bg{
		height: 320px;
	}
}
.home_cloud_position{
	margin-top: 280px;
}
@media screen and (max-width: 767px){
	.home_cloud_position{
		margin-top: 136px;
	}
}

.home_cloud{
	background-image: url('../img/cloud.png');
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height: 124px;
}
@media screen and (max-width: 375px){
	.home_cloud{
		background-image: url('../img/cloud-small.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 33px;
	}
}
.home_cloud_interval{
	margin-top: -68px;
}
@media screen and (max-width: 375px){
	.home_cloud_interval{
		margin-top: -25px;
	}
}

.primeblock_position{
	margin-top: 80px;
	margin-bottom: 110px;
}

@media screen and (max-width: 991px){
	.primeblock_position{
		margin-bottom: 0px;
	}
}
.six_menu_position{
	margin-top: 80px;
	margin-bottom: 72px;
}
@media screen and (max-width: 375px){
	.six_menu_position{
		margin-top: 40px;
	}
}
@media screen and (max-width: 960px){
	.six_menu_spacing{
		text-align: left;
		margin-left: 32%
	}
}
@media screen and (max-width: 640px){
	.six_menu_spacing{
		text-align: left;
		margin-left: 24%
	}
}
@media screen and (max-width: 502px){
	.six_menu_spacing{
		text-align: left;
		margin-left: 15%
	}
}

.primeblock_size{
	max-width: 796px;
	margin-top: 0px;
	margin-left: auto; 
	margin-right: auto; 	
	display: block;
}

@media screen and (max-width: 960px){
	.primeblock_size{
		margin-top: 50px;
	}
}
.rectangle_pdf{
	width: 360px;
	height: 50px;
	background-color: #d8dde0;
}
@media screen and (max-width: 375px){
	.rectangle_pdf{
		width: 250px;
		height: 42px;
		background-color: #d8dde0;
	}
}

.city_bg{
	background-image: url('../img/section-3-city.svg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}
@media screen and (max-width: 991px){
	.city_bg{
		background-image: url('../img/section-3-city-991.svg');
		background-repeat: no-repeat;
		background-size: cover;
		height: 258px;
	}
}
@media screen and (max-width: 375px){
	.city_bg{
		background-image: url('../img/section-3-city-small.svg');
		background-repeat: no-repeat;
		background-size: cover;
		width:100%;
		height: 188px;
	}
}
@media screen and (max-width: 320px){
	.city_bg{
		background-image: url('../img/section-3-city-smaller.svg');
		background-repeat: no-repeat;
		background-size: cover;
		width:100%;
		height: 160px;
	}
}

.intro_font_spacing{
	margin-top: 40px; 
	text-align: justify; 
	line-height: 1.8
}
.intro_interval{
	margin-bottom: 100px;
}
@media screen and (max-width: 991px){
	.intro_interval{
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 960px){
	.title_interval{
		margin-top: -10px;
	}
}
.content_interval{
	padding-top: 40px;
	margin: 0 auto;
	padding-left: 20%;
	padding-right: 20%;
}
@media screen and (max-width: 960px){
	.content_interval{
		padding-top: 10px;
	}
}
@media screen and (max-width: 375px){
	.content_interval{
		padding-left: 0px;
		padding-right: 0px;
	}
}
.feature_interval{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 60px;
}
.icon_interval{
	margin-top: 100px;
	margin-left: 12%;
	margin-right: 12%;
	margin-bottom: 180px;
}
@media screen and (max-width: 1320px){
	.icon_interval{
		margin-left: 0px;
		margin-right: 0px;
	}
}
@media screen and (max-width: 767px){
	.icon_interval{
		margin-bottom: 60px;
		margin-left: 12%;
		margin-right: 12%;
	}
}
.icon_position{
	margin-top: 50px;
}
@media screen and (max-width: 767px){
	.icon_position{
		margin-top: 25px;
	}
}

.icon_bg{
	background-color: #f8f9fa;
}
.rectangle{
	width: 250px;
	height: 200px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-image-source: linear-gradient(to bottom, #4c76c3, #c2b1ff);
	border-image-slice: 1;
	margin-bottom: 40px;
}
@media screen and (max-width: 767px){
	.rectangle{
		width: 138px;
		height: 110px;
		background-color: #ffffff;
	}
}
@media screen and (max-width: 375px){
	.rectangle{
		margin-bottom: 20px;
	}
}
.rectangle_pdf_position-1{
	margin-top: 20px;
}
.rectangle_pdf_position-2{
	position: absolute;
	bottom: 96px;
	right: 190px;
}
.rectangle_pdf_change{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: -50px;
}

.payho_bg{
	background-color: #dceaed;
}
.invalid-name_size{
	max-width: 1158px;
	margin-left: auto;
	margin-right: auto;
}

.subscription_bg{
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height: 740px;
}

@media screen and (max-width: 375px){
	.subscription_bg{
		background-image: url('../img/bg-small.png');
		background-repeat: no-repeat;
		background-size: cover;
		height: 500px;
	}
}

.footer_bg{
	width: 100%;
	height: 164px;
	background-color: #1c1c1e;
}

/* font apply */

.body_font_small{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #1c1c1e;
}
@media screen and (max-width: 960px){
	.body_font_small{
		font-size: 12px;
	}
}
.body_font_bold{
	padding-top: 6px;
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: -0.4px;
	color: #1c1c1e;
}
@media screen and (max-width: 375px){
	.body_font_bold{
		font-size: 16px;
	}
}
.body_font_bold_pdf{
	padding-top: 11px;
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: -0.4px;
	color: #1c1c1e;
}
@media screen and (max-width: 375px){
	.body_font_bold_pdf{
		font-size: 14px;
	}
}

.body_font{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.65;
	letter-spacing: normal;
	color: #1c1c1e;
}

@media screen and (max-width: 960px){
	.body_font{
		font-size: 17px;
	}
}


.cloud_font-1{
	margin-top: 20px;
	font-family: SFProDisplay;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #ffffff;
}
@media screen and (max-width: 767px){
	.cloud_font-1{
		margin-top: 10px;
		font-size: 20px;
		font-family: SFProDisplay;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
		letter-spacing: 1.5px;
	}
}

.cloud_font-2{
	font-family: SFProDisplay;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #ffffff;
}
@media screen and (max-width: 767px){
	.cloud_font-2{
		font-family: SFProDisplay;
		font-size: 14px;
		letter-spacing: 0.5px;
		margin-top: -8px;
	}
}

.primedapp_font{
	margin-top: 108px;
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 28px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: -0.4px;
	color: #1c1c1e;
}
@media screen and (max-width: 767px){
	.primedapp_font{
		font-size: 20px;	
	}
}
@media screen and (max-width: 375px){
	.primedapp_font{
		margin-top: 54px;	
	}
}

.solution_font{
	margin-top: 40px;
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: -0.4px;
	color: #000867;
}
@media screen and (max-width: 991px){
	.solution_font{
		margin-top: 20px;
		font-size: 20px;
	}
}

.solution_content_font{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #1c1c1e;
	margin-left: 20px;
	margin-right: 20px;
}
@media screen and (max-width: 767px){
	.solution_content_font{
		margin-bottom: 50px;
		font-size: 15px;
		padding-left: 15%;
		padding-right: 15%;
	}
}
@media screen and (max-width: 375px){
	.solution_content_font{
		padding-left: 6%;
		padding-right: 6%;
	}
}
.icon_font{
	margin-top: 15px;
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: -0.4px;
	color: #000867;
}
@media screen and (max-width: 767px){
	.icon_font{
		margin-top: 10px;
		font-size: 12px;
	}
}
.title-1{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 30px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #1c1c1e;
}
@media screen and (max-width: 960px){
	.title-1{
		font-size: 22px;
	}
}

.title-2{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1c1c1e;
}
@media screen and (max-width: 960px){
	.title-2{
		font-size: 22px;
	}
}

.title-4{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: -0.5px;
	color: #ffffff;
}

@media screen and (max-width: 960px){
	.title-4{
		font-size: 22px;
	}
}

.copy_font_big{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #8f929b;
}

.copy_font{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #8f929b;
}

@media screen and (max-width: 960px){
	.copy_font{
		font-size: 13px;
	}
}

@media screen and (max-width: 332px){
	.copy_font{
		font-size: 12px;
	}
}

.payho_font{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 26px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.35;
	letter-spacing: normal;
	color: #ffffff;
}
@media screen and (max-width: 960px){
	.payho_font{
		font-size: 16px;
	}
}


.payho_font_purple_1{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 26px;
	font-weight: 600;	
	font-style: normal;
	font-stretch: normal;
	line-height: 1.35;
	letter-spacing: normal;
	color: #ad6de1;
}
@media screen and (max-width: 960px){
	.payho_font_purple_1{
		font-size: 16px;
	}
}


.payho_font_purple_2{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.35;
	letter-spacing: normal;
	color: #ad6de1;
}
@media screen and (max-width: 960px){
	.payho_font_purple_2{
		font-size: 13px;
	}
}



.payho_font_menu_1{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #7548c0;
}

@media screen and (max-width: 1500px){
	.payho_font_menu_1{
		font-size: 18px;
	}
}
@media screen and (max-width: 960px){
	.payho_font_menu_1{
		font-size: 16px;
	}
}

.payho_font_menu_2{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	color: #7548c0;
}
@media screen and (max-width: 1500px){
	.payho_font_menu_2{
		font-size: 20px;
	}
}
@media screen and (max-width: 960px){
	.payho_font_menu_2{
		font-size: 18px;
	}
}


.payho_font_menu_3{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.8;
	letter-spacing: normal;
	color: #2d1943;
}

@media screen and (max-width: 1500px){
	.payho_font_menu_3{
		font-size: 16px;
	}
}
@media screen and (max-width: 960px){
	.payho_font_menu_3{
		font-size: 14px;
	}
}


.payho_menu_spacing{
	margin-top: 12px;
}
.subscription_interval{
	padding-top: 20px;
	padding-bottom: 60px;
	width: 800px;
	margin: 0 auto;
}
@media screen and (max-width: 960px){
	.subscription_interval{
		width: auto;
	}
}

.subscription_font_1{
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.96;
	letter-spacing: -0.3px;
	color: #589ba6;
}
@media screen and (max-width: 960px){
	.subscription_font_1{
		font-size: 18px;
	}
}
.subscription_font_1_position{
	margin-top: 30px;
}

.subscription_font_2{
	opacity: 0.85;
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.47;
	letter-spacing: normal;
	color: #ffffff;
}
@media screen and (max-width: 960px){
	.subscription_font_2{
		font-size: 14px;
	}
}

.Web-Nexa-1 {
	font-family: Nexa;
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.81;
	letter-spacing: 1.3px;
	text-align: left;
	color: #1c1c1e;
}

@media screen and (max-width: 960px){
	.Web-Nexa-1{
		font-size: 22px;
	}
}

.Web-Nexa-2 {
	font-family: Nexa;
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.81;
	letter-spacing: 0.6px;
	text-align: left;
	color: #1c1c1e;
}
@media screen and (max-width: 960px){
	.Web-Nexa-2{
		font-size: 22px;
	}
}

.Web-Nexa-3 {
	font-family: Nexa;
	font-size: 26px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.81;
	letter-spacing: 1.3px;
	text-align: left;
	color: #ffffff;
	
}
@media screen and (max-width: 960px){
	.Web-Nexa-3{
		font-size: 16px;
	}
}
.Web-Nexa-4 {
	font-family: Nexa;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.47;
	letter-spacing: 1.3px;
	text-align: left;
	color: #589ba6;
}

@media screen and (max-width: 960px){
	.Web-Nexa-4{
		font-size: 18px;
	}
}

.Web-Nexa-5 {
	font-family: Nexa;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.47;
	letter-spacing: 1.3px;
	text-align: left;
	color: #ffffff;
}

@media screen and (max-width: 960px){
	.Web-Nexa-5{
		font-size: 14px;
	}
}


/* 본문 내용 header부터 순차적으로 */
@media (max-width: 960px){
	.navbar-collapse .collapse:not(.in) {
		display: none !important;
	}
}

@media screen and (max-width: 960px){
	.header-navbar{
		margin-bottom: 0px;
	}
}
.spacing_home{
	margin-top: 60px;
}

@media screen and (max-width: 960px){
	.spacing_home{
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 0px;	
	}
}

.spacing {
	margin-top: 110px;
}

@media screen and (max-width: 960px){
	.spacing{
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 144px;		
	}
}
@media screen and (max-width: 767px){
	.spacing{
		margin-top: 30px;		
	}
}
.spacing_subscription{
	margin-top: 110px;
}
@media screen and (max-width: 960px){
	.spacing_subscription{
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 144px;		
	}
}
@media screen and (max-width: 767px){
	.spacing_subscription{
		margin-top: 80px;		
	}
}
.header_spacing_change{
	margin-top: -30px;
}
.header_spacing{
	margin-top: -46px;
}
@media screen and (max-width: 768px){
	.header_spacing_change{
		margin-top: 0px;
	}
}


@media screen and (max-width: 768px){
	.header_spacing{
		margin-top: 20px;
	}
}

@media screen and (max-width: 991px){
	.payho_interval{
		margin-bottom: 20px;
	}
}

.payho_spacing{
	margin-top: 10%;
	margin-bottom: 120px;
}
@media screen and (max-width: 991px){
	.payho_spacing{
		margin-top: 0px;
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 991px){
	.payho_spacing_1{
		margin-bottom: 40px;
	}
}


.payho_size{
	position: absolute; 
	bottom: 100px; 
	right: 120px;
}

@media screen and (max-width: 960px){
	.payho_size{
		bottom: 10px;
		right: 10px;
	}
}

@media screen and (max-width: 1500px){
	.feature_size{
		width: 140px;
		height: 140px;
	}
}

@media screen and (max-width: 960px){
	.feature_size{
		width: 120px;
		height: 120px;
	}
}

@media screen and (max-width: 356px){
	.feature_size{
		width: 100px;
		height: 100px;
	}
}
.ul_arrow_list{
	list-style: none;
}

.ul_list{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
.ul_list_change{
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;

}

@media screen and (max-width: 766px){
	.ul_list{
		display: block;
		margin-left: 10px;
	}
}
@media screen and (max-width: 766px){
	.ul_list_change{
		display: block;
		margin-left: 10px;
	}
}


/*
.underline {
  width: 82px;
  height: 8px;
  background-color: #160e3c;
}
*/
a {
	color: #2e2e32;
}

.li_list.active a, .li_list a:hover{
	font-family: SFUIDisplay, SFProDisplay;
	font-weight: bold;
	color: #000000;
	border-bottom-color: #471d61;
	cursor: pointer;
}

@media screen and (max-width: 766px){
	.li_list.active a, .li_list a:hover{
		border-bottom: none;
		border-bottom-color: none;
	}
}

.li_list {
	margin: 0 0 0 1%;
	padding: 0 0 0 0;
	border: 0;
	font-family: SFUIDisplay, SFProDisplay;
	font-size: 20px;
	font-color: #2e2e32;
	line-height: 30px;
	letter-spacing: normal;
	float:left;
}
@media screen and (max-width: 767px){
	.li_list{
		float: none;
		font-size: 12px;
		margin-bottom: 6%;
	}
}

/* Bar Design */
.bar_black {
	background-color: #204453;
	width: 40px;
	height: 5px;
	margin-bottom: 14px;
}

@media screen and (max-width: 375px){
	.bar_black {
		background-color: #204453;
		width: 20px;
		height: 3px;
		margin-bottom: 14px;
	}
}

.bar_white {
	background-color: #ffffff;
	width: 40px;
	height: 5px;
	margin-bottom: 10px;
}
@media screen and (max-width: 375px){
	.bar_white {
		background-color: #ffffff;
		width: 20px;
		height: 3px;
		margin-bottom: 14px;
	}
}

.btn-default {
	color : #D2D2D2;
	background-color: #ffffff;
	border-color: #ffffff;
}
#mobile-slideBt {
	background-color: transparent;
}


/*Submit form*/


@media screen and (max-width: 767px){
	.icon_size_1{
		width: 160px;
		height: 124px;
	}
}
@media screen and (max-width: 767px){
	.icon_size_2{
		width: 52px;
		height: 42px;
	}
}
@media screen and (max-width: 767px){
	.img-cloud_size{
		width: 92px;
		height: 48px;
	}
}


.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #000000;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #000000;
}
.btn-login:hover,
.btn-login:focus {
	color: #000000;
	background-color: #A4A4A4;
	border-color: #A4A4A4;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}