<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Lab-Manager</title>

  <meta name="description" content="Lab-Manager">
  <meta name="author" content="Lab-Manager">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Lab-Manager">
  <meta property="og:description" content="We bring an easy blockchain to your business">
  <meta property="og:url" content="http://www.primeblock.co/">
  <meta property="og:image" content="http://www.primeblock.co/static/assets/img/pb_logo_preview.png">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="400">
  <link rel="shortcut icon" href="../static/favicon_32.png">

  <!-- Stylesheets -->
  <!-- Web fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

  <!-- Bootstrap and OneUI CSS framework -->
  <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">

  <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" id="css-main" href="../static/assets/css/oneui.css">
  <link rel="stylesheet" id="css-customize" href="../static/assets/css/style.css?ver=2018082112">

</head>

<body>
  <!-- Header -->
  <div id ="page-container" class="header-navbar-fixed">
    <header id="header-navbar" class="content-mini content-mini-full remove-padding">
      <div class="text-center logo_position">
        <a href="researcher.html"><img src="../static/assets/img/img-logo.png" class="logo_size"></a>
      </div>
      <ul class="nav-header pull-right" style="position: absolute; right: 0; top: 20px;">
        <li>
          <button id="mobile-slideBt" type="button" class="btn btn-default navbar-toggle hidden-md hidden-lg btn_size" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-navicon fa-2x"></i>
          </button>
        </li>
      </ul>
      <div id="header_interval" class="navbar-collapse navbar-main-collapse collapse header_spacing" style="height: 1px;">
        <div id = "active_event_1" class="body_font">
          <ul id="ul_interval" class="ul_list remove-padding">
            <li class="li_list active" style="width:76px;">
              <a href="#main-container" class="sliding-link">        
                Home                     
              </a>
            </li>
            <li class="li_list" style="margin-right: 26px;">
              <a href="#def" class="sliding-link">
                PRIME BLOCK?                 
              </a>
            </li>
            <li class="li_list" style="margin-right: 30px;">
              <a href="#intro" class="sliding-link">
                Prime DApp Cloud
              </a> 
            </li>
            <li class="li_list" style="width: 100px;">
              <a href="#payho">
               Company
             </a>
           </li>
           <li class="li_list">
            <a href="#subscription" class="sliding-link">
              Subscription
            </a>   
          </li>
        </ul>
        <ul class="ul_arrow_list remove-padding row remove-margin-b">
          <li class="arrow_menu">
            <a href="#">
              <span class="arrow_up arrow_up_position"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="header_bg"></div>
  <!-- END Header -->
</div>
<!-- Main Container -->

<main id="main-container">
  <!-- Home -->
  <div id="home" class="home_bg col-xs-12 remove-padding">
    <div id="img-cloud_small" class="text-center home_cloud_position">
      <img src="../static/assets/img/img-cloud.png" class="img-cloud_size">
      <p class="cloud_font-1">Lab Manager</p>
      <p class="cloud_font-2">실시간으로 대학원 연구실 실험자 모집 공고를 확인하고 신청하세요!</p>
      <p class="cloud_font-2">대학생 일일 아르바이트를 위한 최적의 플랫폼 Lab Manger입니다.</p>
    </div>
  </div>
  <!-- END Home -->
  <!-- PRIME BLOCK이란? -->
  <div id="def" class="bg-white col-xs-12 remove-padding">
    <div class="spacing_home body_font text-center">
      <div class="bar_black center-block">
      </div>
      <p class="title-1"><span class="Web-Nexa-1">PRIME BLOCK</span> 이란?</p>
      <p class="title_interval"><span class="body_font_small">Community Block Chain Cloud</span></p>
      <div class="content_interval">PRIME BLOCK은 Community Block Chain Cloud 기반으로 Payment, Smart Contract, Escrow 등 다양한 블록체인 비즈니스 핵심 서비스를 제공하여 미래사회의 커뮤니티 공간 내에서 발생하는 다양한 비즈니스에 신뢰성과 투명성을 보장하는 커뮤니티 비즈니스 Eco System의 허브입니다.
      </div>
    </div>
    <div class="col-md-8 primeblock_position">
      <img class="img-responsive primeblock_size" src="../static/assets/img/img-primeblock.svg">
    </div>
    <div id="six_menu" class="col-md-4 body_font six_menu_position">
      <p><span class="body_font_bold">PRIME BLOCK과 함께 구현가능 서비스</span></p>
      <div class="six_menu_spacing">
        1. Prime DApp Cloud 서비스<br>
        2. DApp 제작서비스<br>
        3. Payho!(블록체인 송금결제앱)<br>
        4. Living App(블록체인 커뮤니티 앱)<br>
        5. POS<br>
        6. Point App<br>
      </div>
    </div>
  </div>
  <div id="intro" class="city_bg col-xs-12 remove-padding">
  </div>
  <!-- END PRIME BLOCK이란? -->
  <!-- 프라임디앱클라우드 -->
  <div class="col-xs-12 remove-padding intro_interval">
    <div class="spacing body_font text-center">
      <div class="bar_black center-block">
      </div>
      <p><span class="Web-Nexa-2">Prime DApp Cloud란?</span></p>
      <p class="title_interval"><span class="body_font_small">Community Block Chain Cloud</p>
        <div class="text-center content_interval">Prime DApp Cloud 서비스는 프라이빗 블록체인기반 클라우드서비스로서 DApp 구축-운영-관리까지 제공합니다.
        </div>
        <p class="primedapp_font">Prime DApp Cloud 서비스</p>
      </div>
      <div class="feature_interval">
        <div id="solutions_image_small" class="col-md-3 remove-padding text-center">
          <img src="../static/assets/img/solution_image.svg" class="icon_size_1">
          <p class="solution_font">Solutions</p>
          <p class="solution_content_font">비즈니스 요구에 적합한 블록체인 솔루션을 제공합니다.</p>
        </div>
        <div id="services_image_small" class="col-md-3 remove-padding text-center">
          <img src="../static/assets/img/services_image.svg" class="icon_size_1">
          <p class="solution_font">Services</p>
          <p class="solution_content_font"> 컨설팅-디자인-구축-사후지원 End-to-End 서비스를 제공합니다.</p>
        </div>
        <div id="blockchain_image_small" class="col-md-3 remove-padding text-center">
          <img src="../static/assets/img/blockchain_image.svg" class="icon_size_1">
          <p class="solution_font">Block Chain</p>
          <p class="solution_content_font">블록체인 기반의 DLT 분산원장에 데이터를 저장합니다.</p>
        </div>
        <div id="cloud_image_small" class="col-md-3 remove-padding text-center">
          <img src="../static/assets/img/cloud_image.svg" class="icon_size_1">
          <p class="solution_font">Cloud</p>
          <p class="solution_content_font">클라우드 인프라를 통해 신속한 비즈니스 확장을 제공합니다.</p>
        </div>
      </div>
    </div>  
    <div class="icon_bg col-xs-12 remove-padding">
      <div class="icon_interval">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 remove-padding">
            <div class="rectangle center-block">
              <div id="chain_small" class="icon_position text-center">
                <img src="../static/assets/img/chain.svg" class="icon_size_2">
                <p class="icon_font">Block Chain Consulting</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 remove-padding">
            <div class="rectangle center-block">
              <div id="safety_icon_small" class="icon_position text-center">
                <img src="../static/assets/img/safety_icon.svg" class="icon_size_2">
                <p class="icon_font">Private Block Chain</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 remove-padding">
            <div class="rectangle center-block">
              <div id="bass_small" class="icon_position text-center">
                <img src="../static/assets/img/bass.svg" class="icon_size_2">
                <p class="icon_font">BasS</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 remove-padding">
            <div class="rectangle center-block">
              <div id="ethereum_icon_small" class="icon_position text-center">
                <img src="../static/assets/img/ethereum_icon.svg" class="icon_size_2">
                <p class="icon_font">Etherium Compatible</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 remove-padding">
            <div class="rectangle center-block">
              <div id="pow_small" class="icon_position text-center">
                <img src="../static/assets/img/pow.svg" class="icon_size_2">
                <p class="icon_font">Consensus Algorithm</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 remove-padding">
            <div class="rectangle center-block">
              <div id="document_small" class="icon_position text-center">
                <img src="../static/assets/img/document.svg" class="icon_size_2">
                <p class="icon_font">Smart Contract</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 remove-padding">
            <div class="rectangle center-block">
              <div id="data_icon_small" class="icon_position text-center">
                <img src="../static/assets/img/data_icon.svg" class="icon_size_2">
                <p class="icon_font">Managed Service</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 remove-padding">
            <div class="rectangle center-block">
              <div id="dapp_icon_small" class="icon_position text-center">
                <img src="../static/assets/img/dapp_icon.svg" class="icon_size_2">
                <p class="icon_font">DasS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="page-footer" class="footer_bg col-xs-12 text-center body_font remove-padding">
      <p style="margin-top: 48px;"><span class="copy_font_big">Lab Manager</span></p>
      <p><span class="copy_font">© 2018 Lab Manager. All rights reserved.</span></p>  
    </footer>

  </main>
  <!-- END Main Container -->

  <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
  <script src="../static/assets/js/core/jquery.min.js"></script>  
  <script src="../static/assets/js/core/bootstrap.min.js"></script>
  <script src="../static/assets/js/core/jquery.slimscroll.min.js"></script>
  <script src="../static/assets/js/core/jquery.scrollLock.min.js"></script>
  <script src="../static/assets/js/core/jquery.appear.min.js"></script>
  <script src="../static/assets/js/core/jquery.countTo.min.js"></script>
  <script src="../static/assets/js/core/jquery.placeholder.min.js"></script>
  <script src="../static/assets/js/core/js.cookie.min.js"></script>

  <!-- Page JS Plugins -->
  <script src="../static/assets/js/app.js?ver=2018072001"></script>

  <!-- List javascript -->
  <script>
    App.init('uiInit');
    var header = document.getElementById("active_event_1");
    var lists = header.getElementsByClassName("li_list");
    for (var i = 0; i <lists.length; i++) {
      lists[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
    $("#mobile-slideBt").click(function() {
      if ($(".collapse").hasClass("in")) {
        $(".header_bg").hide()
      }
      else {
        $(".header_bg").show()
      }
    })
    $(".li_list").click(function() {
      $(".header_bg").hide()
      $('.collapse').collapse('hide')
    })

    $(".ul_arrow_list").click(function() {
      $(".header_bg").hide()
      $('.collapse').collapse('hide')
    })

    $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      if (scroll >= 50) {
        $("#header_interval").removeClass("header_spacing").addClass("header_spacing_change");
        $("#ul_interval").removeClass("ul_list").addClass("ul_list_change");
      } 
      else {
        $("#header_interval").removeClass("header_spacing_change").addClass("header_spacing");
        $("#ul_interval").removeClass("ul_list_change").addClass("ul_list");
      }
    });

    if($(window).width() < 975 ){
      $("#six_menu").addClass("text-center");
      $("#six_menu_pdf").addClass("center-block");
    }

    $(window).resize(function() {
      if ($(this).width() < 975) {
        $("#six_menu").addClass("text-center");
        $("#six_menu_pdf").addClass("center-block");
      }
      else {
        $("#six_menu").removeClass("text-center");
        $("#six_menu_pdf").removeClass("center-block");
      }
    })

    /* 스클롤 올라가는 알림 이벤트

    $(".sliding-link").click(function(event) {
      event.preventDefault();
      var aid = $(this).attr("href");
      $('html,body').animate({scrollTop: $(aid).offset().top -100},'slow');
    }); */ 



    /* email validation check 향후 필요시 사용할 것.
    verifyEmail = function(){
      var emailVal = $("#email").val();
      var param = {'mailAddr':emailVal}
      var regExp =  /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
      if(emailVal.match(regExp) != null){    
        $.ajax({
          type : 'post',
          url : '/insert',
          data : param,
          dataType : 'json',
          success : function(json){
            //console.log(json)
            alert('신청되었습니다!');
            window.onload = function () {
              window.scrollTo(0, 0);
            };
            window.onload();
          },
          error: function(request, status, error){
            alert(error);
          }
        });
      }
      else {
        alert('잘못된 이메일형식입니다.');
        return false;
      }
    };
    */
  </script> 
</body>
</html>
